@model LibraryManagerWeb.BusinessObject.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableCopies" class="control-label"></label>
                <input asp-for="AvailableCopies" class="form-control" />
                <span asp-validation-for="AvailableCopies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCopies" class="control-label"></label>
                <input asp-for="TotalCopies" class="form-control" />
                <span asp-validation-for="TotalCopies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelfLocation" class="control-label"></label>
                <input asp-for="ShelfLocation" class="form-control" />
                <span asp-validation-for="ShelfLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
